@charset "utf-8";
/* 
 * @authors Gulf
 * 2015/12/10
 */
html{font-size: 62.5%;}
body{font-size: 12px;font-family: "Microsoft YaHei";}
body,div,p,ul,ol,li,textarea,form,input,h1,h2,h3,h4,h5,h6,dl,dd,dt,img,section,article,aside,header,footer,nav,figure,hgroup{margin: 0;padding: 0;}
ul,li{list-style: none;}
a{ text-decoration: none;}
img{border: 0;}